<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProfile name="!pro">
        <!--从yml配置文件中读取相应属性的值-->
        <springProperty scope="context" name="logName" source="logging.file.name"/>
        <springProperty scope="context" name="logPath" source="logging.file.path"/>
        <springProperty scope="context" name="logLevel" source="logging.level.root"/>
        <springProperty scope="context" name="logMaxHistory" source="logging.file.max-history"/>
        <springProperty scope="context" name="logMaxSize" source="logging.file.max-size"/>

        <!--控制台打印日志格式-->
        <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread] %-5level %logger{36} [%line] - %msg%n</pattern>
            </encoder>
        </appender>
        <!--生成文件格式匹配-->
        <appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${logPath}/${logName}.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <!--日志文件输出的文件名-->
                <fileNamePattern>${logPath}/${logName}.%d{yyyy-MM-dd}.log</fileNamePattern>
                <!--日志文件保留天数-->
                <MaxHistory>${logMaxHistory}</MaxHistory>
            </rollingPolicy>
            <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
                <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSSZ}] [%thread] %-5level %logger{36} [%line]- %msg%n</pattern>
            </encoder>
            <!--日志文件最大的大小-->
            <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
                <MaxFileSize>${logMaxSize}</MaxFileSize>
            </triggeringPolicy>
        </appender>

        <!--日志默认输出等级-->
        <logger name="com.example.demo" level="${logLevel}"/>

        <root level="${logLevel}">
            <appender-ref ref="console"/>
            <appender-ref ref="rollingFile"/>
        </root>
    </springProfile>

</configuration>
